.ath-container{
	display: none;
}

.mobile-suggest {
  background-color: #ffffff;
  padding: 5px 0;
  text-align: center;
}

.mobile-suggest p, .mobile-suggest h5 {
  margin: 0;
}

.mobile-suggest p {
  font-size: 14px;
}
.mobile-suggest h5 {
  font-size: 14px;
  font-weight: bold;
}
.mobile-suggest-input{
	display: inline-block;
}
.mobile-suggest .refuse-mobile-cont {
  float: left;

}
.mobile-suggest .refuse-mobile-cont img{
	margin: 10px 0 0;
	max-width: 100%;
	height: auto;
	padding: 0 0 0 5px;
}
.mobile-suggest .refuse-mobile {
  vertical-align: center;
  cursor: pointer;
}

.mobile-suggest .mobile-suggest-text {
  padding: 5px 60px 5px 45px;
  text-align: left;
}

.mobile-suggest .mobile-suggest-text a{
	color:#000000;
	text-decoration: none;
}